a, h1, h2, button, h3 {
    font-family: Oswald, sans-serif;
}

.bgc {
    background-color: var(--light-color);
}

h3 {
    color: var(--dark-color);
}

a{
    color: var(--secondary-color);
    text-decoration: none;
    line-height: 1;
}
i {
    color: var(--secondary-color);
}

.menu-button {
    font-size: 2rem;
    padding: 0;
    border: none;
    background-color: transparent;
    margin: auto;
    
}

.dropdown-menu {
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.dropdown-item.active {
    background-color: white !important;
    color: inherit !important;
  }
.dropdown-item {
    border-radius: 8px;
}