a, h1, h2, button, h3 {
    font-family: Oswald, sans-serif;
}

.bgc {
    background-color: var(--light-color);
}

h3 {
    color: var(--dark-color);
}

a, i{
    color: var(--secondary-color);
    text-decoration: none;
}