<div class="profile-card info-card card">
  <h4 class="info-title">
    <i class="bi bi-person"></i>
    Información personal
  </h4>

  <div class="row g-4 mt-2">

    <!-- Teléfono -->
    <div class="col-12 col-lg-6">
      <label class="field-label">Teléfono:</label>
      <div class="input-icon">
        <i class="bi bi-telephone"></i>
        <input
          class="form-control"
          [(ngModel)]="user.phone"
          [readonly]="!isEditing"
          placeholder="No especificado"
        />
      </div>
    </div>

    <!-- Fecha nacimiento -->
    <div class="col-12 col-lg-6">
      <label class="field-label">Fecha de nacimiento:</label>
      <div class="input-icon">
        <i class="bi bi-calendar-event"></i>
        <input
          class="form-control"
          type="date"
          [(ngModel)]="user.birthDate"
          [readonly]="!isEditing"
          placeholder="No especificada"
        />
      </div>
    </div>

    <!-- Ubicación -->
    <div class="col-12 col-lg-6">
      <label class="field-label">Ubicación:</label>
      <div class="input-icon">
        <i class="bi bi-geo-alt"></i>
        <input
          class="form-control"
          [(ngModel)]="user.location"
          [readonly]="!isEditing"
          placeholder="No especificada"
        />
      </div>
    </div>

    <!-- Nickname -->
    <div class="col-12 col-lg-6">
      <label class="field-label">Nickname:</label>
      <div class="input-icon">
        <i class="bi bi-person-badge"></i>
        <input
          class="form-control"
          [(ngModel)]="user.nickname"
          [readonly]="!isEditing"
          placeholder="No especificado"
        />
      </div>
    </div>

  </div>
</div>
