<div class="container py-4">

  <!-- Loader -->
  @if (!isLoaded) {
    <div class="text-center py-5">
      <div class="spinner-border text-primary"></div>
    </div>
  }

  <!-- Contenido -->
  @if (isLoaded) {
    <!-- BANNER PRINCIPAL -->
    <div class="profile-banner d-flex justify-content-between align-items-center flex-wrap mb-4">
      <h1 class="profile-banner-title">Mi perfil</h1>

      <div class="d-flex gap-2 banner-buttons">
        @if (!isEditing) {
          <button class="btn profile-btn-primary banner-edit-btn" (click)="editarPerfil()">Editar perfil</button>
        }
        @if (isEditing) {
          <button class="btn btn-success banner-edit-btn" (click)="guardarCambios()">Guardar cambios</button>
        }
      </div>
    </div>

    <!-- TARJETAS -->
    <div class="row g-4">
      <div class="col-12 col-lg-4">
        <app-profile-main-card [user]="user" [isEditing]="isEditing"></app-profile-main-card>
      </div>

      <div class="col-12 col-lg-8">
        <app-profile-about-card [user]="user" [isEditing]="isEditing"></app-profile-about-card>
      </div>

      <div class="col-12">
        <app-profile-info-card [user]="user" [isEditing]="isEditing"></app-profile-info-card>
      </div>
    </div>
  }
</div>
