:host {
  display: block;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: 'Source Serif 4', serif;
}

/* Cabecera */
h1 {
  font-family: 'Oswald', sans-serif;
  color: #074948; /* dark-color */
}

.btn {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--font-primary);
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.edit-btn:hover {
  background-color: var(--secondary-color);
}
