/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #21D1C2;
  --secondary-color: #0B6E6D;
  --light-color: #DDF2D9;
  --dark-color: #074948;
  --font-primary: 'Oswald, sans-serif';
  --font-secondary: 'Source Serif Pro, serif';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background-color: #f5f5f5;
  color: #333; 
  box-sizing: border-box;
}
