.form-error {
  color: #dc3545;
  font-size: 0.8rem;
  margin: 0.2rem 0 0;
  font-style: italic;
  display: inline-block;
  padding-bottom: 2px;
}

.tag-wrapper {
  display: inline-block;
  position: relative;
}

.tag-close {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #dc3545;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  color: white;
  font-size: 18px;
  line-height: 1;
}

.tag-wrapper:hover .tag-close {
  opacity: 1;
}